@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    text-align: center;
}
input{
text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }